
<div id="addTaxonomy" class="createForm">
    <input type="text" class="valueEdit" value="">
    <div>
        <input id="lv1" type="radio" name="level" value="1"><label for="lv1">level 1</label>
        <input id="lv2" type="radio" name="level" value="2"><label for="lv2">level 2</label>
        <input id="lv3" type="radio" name="level" value="3"><label for="lv3">level 3</label>
    </div>
    <input type="submit" id="addTaxButton" value="Add">
    <input type="button" id="cancelTaxButton" value="Cancel">
</div>
<div class="clear"></div>

